doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', href='stylesheets/materialize.css')
    script(type='text/javascript', src='javascripts/main.js')
    script(type='text/javascript', src='javascripts/materialize.js')
  body
      nav
        .nav-wrapper
          a.brand-logo(href='#') NOTICIAS

      .row
        .row
          .col.s12.m7.l4
            .row
              .col.s12.m12.15
                .card
                  .card-image
                    img(src=imguno,alt="hola")
                    span.card-title #{uno}
                  .card-content
                    p #{duno}
                    p #{dtuno}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
          .col.s12.m7.l4
            .row
              .col.s12.m12.15
                .card
                  .card-image
                    img(src=imgdos,alt="hola")
                    span.card-title #{dos}
                  .card-content
                    p #{ddos}
                    p #{dtdos}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
          .col.s12.m7.l4
            .row
              .col.s12.m12.15
                .card
                  .card-image
                    img(src=imgtres,alt="hola")
                    span.card-title #{tres}
                  .card-content
                    p #{dtres}
                    p #{dttres}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
        .row
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card
                  .card-image
                    img(src=imgcuatro,alt="hola")
                    span.card-title #{cuatro}
                  .card-content
                    p #{dcuatro}
                    p #{dtcuatro}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card
                  .card-image
                    img(src=imgcinco,alt="hola")
                    span.card-title #{cinco}
                  .card-content
                    p #{dcinco}
                    p #{dtcinco}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card
                  .card-image
                    img(src=imgseis,alt="hola")
                    span.card-title #{seis}
                  .card-content
                    p #{dseis}
                    p #{dtseis}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
        .row
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card
                  .card-image
                    img(src=imgsiete,alt="hola")
                    span.card-title #{siete}
                  .card-content
                    p #{dsiete}
                    p #{dtsiete}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card
                  .card-image
                    img(src=imgocho,alt="hola")
                    span.card-title #{ocho}
                  .card-content
                    p #{docho}
                    p #{dtocho}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card
                  .card-image
                    img(src=imgnueve,alt="hola")
                    span.card-title #{nueve}
                  .card-content
                    p #{dnueve}
                    p #{dtnueve}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
        .row
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card
                  .card-image
                    img(src=imgdiez,alt="hola")
                    span.card-title #{diez}
                  .card-content
                    p #{ddiez}
                    p #{dtdiez}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card
                  .card-image
                    img(src=imgonce,alt="hola")
                    span.card-title #{once}
                  .card-content
                    p #{donce}
                    p #{dtonce}
                  .card-action
                    a(href='http://radiouno.pe/') ver mas
        

        h4 Nacional
        .row
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card.small
                  .card-image
                    img(src=cimguno,alt="hola")
                    span.card-title #{cuno}
                  .card-content
                    p #{cduno}
                    p #{cdtuno}
                  .card-action
                    a(href='http://radiocaplina.pe/') ver mas
          .col.s12.m7.l4
            .row
              .col.s12.m12
                .card.small
                  .card-image
                    img(src=cimgdos,alt="hola")
                    span.card-title #{cdos}
                  .card-content
                    p #{cddos}
                    p #{cdtdos}
                  .card-action
                    a(href='http://radiocaplina.pe/') ver mas
          .col.s12.m7.l4  
            .row
              .col.s12.m12
                .card.small
                  .card-image
                    img(src=cimgtres,alt="hola")
                    span.card-title #{ctres}
                  .card-content
                    p #{cdtres}
                    p #{cdttres}
                  .card-action
                    a(href='http://radiocaplina.pe/') ver mas
        .row
          .col.s12.m7.l4
            .card.small
              .card-image
                img(src=cimgcuatro,alt="hola")
                span.card-title #{ccuatro}
              .card-content
                p #{cdcuatro}
                p #{cdtcuatro}
              .card-action
                a(href='http://radiocaplina.pe/') ver mas

      footer.page-footer
        .container
          .row
            .col.l6.s12
              h5.white-text Quienes somos?
              p.grey-text.text-lighten-4 Esta web fue creada para y por personas de tacna, no nos responsavilizamos por el contenido mostrado
            .col.l4.offset-l2.s12
              h5.white-text Fuentes
              ul
                li
                  a.grey-text.text-lighten-3(href='http://radiouno.pe/') Radio uno
                li
                  a.grey-text.text-lighten-3(href='http://radiocaplina.pe/') Radio caplina
        .footer-copyright
          .container
            | © 2017 Copyright AlvaroMC
            


